<% c++ #include "content.hpp" %>  
<% skin my_skin %>  
<% view message uses content::message %>  
<% template render() %>  
<html>  
  <body>  
    <h1><%= text %> woorrlldd!</h1>  
  </body>  
</html>  
<% end template %>  
<% end view %>  
<% end skin %>
